@model WeatherFeather.Models.Day


<div class="row">
    <div class="list-group-item">
        <h4 class="list-group-item-heading">@Model.Date</h4>
        <p class="list-group-item-text">...</p>
        <img src="http://api.yr.no/weatherapi/weathericon/1.0/?symbol=5;content_type=image/png" alt="" />
        <p>@Model.Symbol</p>
    </div>
</div>
