@model WeatherFeather.Models.ForecastPeriod

@{
    // TODO: ViewModel?
    var imageUrl = "http://api.yr.no/weatherapi/weathericon/1.0/?symbol=" + @Model.Symbol + ";content_type=image/png";
}

<div class="row">
    <div class="list-group-item">
        <h4 class="list-group-item-heading">@Model.Date</h4>
        <p class="list-group-item-text">...</p>
        <img src="@imageUrl" alt="" />
    </div>
</div>
