@model WeatherFeather.Models.Forecast

@{
    ViewBag.Title = "Forecasts";
}

<h2>Forecasts</h2>

<div class="list-group">

@foreach(var forecast in Model.Days) {
    @Html.Partial("_Day", forecast)
}

</div>