@model WeatherFeather.ViewModels.ForecastIndexViewModel

@{
    ViewBag.Title = "Forecasts";
}

<h2>Forecasts</h2>

@Html.Partial("_SearchForm", Model)

@if (Model.Forecast != null)
{
    <div class="list-group">

        @foreach (var period in Model.Forecast.ForecastPeriod)
        {
            @Html.Partial("_Period", period);
        }

    </div>
}